<div class="flex flex-col justify-center items-center bg-blue-500/10 p-5">
  <h1 class="font-medium text-4xl">Descubre Eventos Increíbles</h1>
  <p class="font-light text-base pb-5">Encuentra y reserva los mejores eventos en tu ciudad. Conciertos, teatro, deportes y mucho más.</p>

  <div class="bg-white rounded-full shadow px-1 flex items-center">
    <div class="flex items-center px-4 py-2">
      <i class="pi pi-search text-gray-400"></i>
      <input
        pInputText
        type="text"
        placeholder="Buscar eventos..."
        [(ngModel)]="searchText"
        class="ml-2 bg-transparent border-none border-0 focus:ring-0 focus:outline-none text-gray-400 placeholder-gray-600 w-48 text-xs"
      />
    </div>

    <div class="h-6 border-r border-gray-300"></div>

    <div class="flex items-center px-4 py-2">
      <i class="pi pi-map-marker text-gray-400"></i>
      <p-select
        [options]="cities"
        [(ngModel)]="selectedCity"
        optionLabel="name"
        placeholder="Ciudad"
        size="small"
        class="ml-2 bg-transparent border-none focus:ring-0 w-40 text-sm"
        styleClass="border-none"
      ></p-select>
    </div>

    <div class="h-6 border-r border-gray-300"></div>

    <div class="flex items-center px-4 py-2">
      <i class="pi pi-calendar text-gray-400"></i>
      <p-datepicker
        [(ngModel)]="date2"
        [showIcon]="false"
        placeholder="dd/mm/aaaa"
        size="small"
        inputId="date"
        class="ml-2 bg-transparent border-none focus:ring-0 w-32 text-sm"
        styleClass="border-none"
      ></p-datepicker>
    </div>

    <div class="h-6 border-r border-gray-300"></div>

    <div class="px-4 py-2">
      <p-button label="Buscar" icon="pi pi-search" severity="info" [raised]="true" size="small" [rounded]="true" (onClick)="onSearch()" />
    </div>
  </div>
</div>

<div class="card flex items-center gap-2 flex-wrap p-2 font-light text-xs cursor-pointer">
  <p-chip label="Todos" (click)="selectCategory('')" />
  <p-chip label="Conciertos" icon="pi pi-tiktok" (click)="selectCategory('Conciertos')" />
  <p-chip label="Teatro" icon="pi pi-sparkles" (click)="selectCategory('Teatro')" />
  <p-chip label="Deportes" icon="pi pi-trophy" (click)="selectCategory('Deportes')" />
  <p-chip label="Gastronomía" icon="pi pi-shop" (click)="selectCategory('Gastronomía')" />
  <p-chip label="Arte" icon="pi pi-palette" (click)="selectCategory('Arte')" />
  <p-chip label="Familiar" icon="pi pi-users" (click)="selectCategory('Familiar')" />
  <p-chip label="Educativo" icon="pi pi-book" (click)="selectCategory('Educativo')" />
</div>
