<div class="flex flex-col font-light p-5">
  <h1 class="font-medium text-2xl">Mis Reservas</h1>
  <p class="text-base pb-3">Gestiona tus reservas y entradas para próximos eventos</p>

  <ng-container *ngIf="reservations$ | async as events; else noEvents">
    <p-card *ngFor="let booking of (reservations$ | async); let i = index; trackBy: trackByIndex" class="mb-4 p-0">
      <div class="flex">
        <img [src]="booking.eventId.image" [alt]="booking.title" class="w-45 h-40 object-cover rounded-lg" />

        <div class="flex-1 p-4 flex flex-col justify-between">
          <p-chip class="mb-1 self-start text-xs custom-chip">
            {{ booking.eventId.category }}
          </p-chip>

          <h3 class="text-sm font-semibold mb-1">
            {{ booking.eventId.title }}
          </h3>

          <div class="text-gray-600 text-xs mb-2">
            <i class="pi pi-calendar mr-1"></i>
            {{ booking.eventId.startDate | date:'shortDate' }}
            <i class="pi pi-clock ml-4 mr-1"></i>
            {{ booking.eventId.endDate | date:'shortTime' }}
          </div>

          <div class="text-gray-600 text-sm mb-4">
            <i class="pi pi-map-marker mr-1"></i>
            {{ booking.eventId.location }}
          </div>
        </div>

        <div class="w-120 p-4 flex flex-col justify-between items-end text-right align-center">
          <div>
            <p class="text-xs uppercase">Número de reserva</p>
            <p class="text-sm font-semibold"># 00 {{booking.eventId.id}}</p>
          </div>

          <div class="pt-3">
            <p class="text-xs uppercase">Entradas</p>
            <p class="mb-4 text-sm font-medium">
              3 x ${{ booking.eventId.price }}
            </p>
          </div>

          <div class="flex gap-2">
            <p-button label="Descargar entradas" icon="pi pi-download" variant="outlined" severity="secondary" size="small" (click)="dowload()" />
            <p-button label="Cancelar reserva" icon="pi pi-trash" variant="outlined" severity="danger" size="small"/>
          </div>
      </div>
      </div>
    </p-card>

  </ng-container>

  <ng-template #noEvents>
    <p class="p-4 text-center text-gray-500">No se encontraron eventos</p>
  </ng-template>

</div>