<div class="flex flex-col justify-center items-center bg-blue-500/10 p-5">
    <h1 class="font-medium text-2xl">No te pierdas ningún evento</h1>
    <p class="font-light text-sm p-3">Suscríbete a nuestra newsletter y recibe recomendaciones personalizadas de eventos en tu ciudad.</p>
    <div class="flex">
        <input class="text-xs h-9 mr-3" type="text" pInputText placeholder="Tú correo electrónico " />
        <p-button label="Suscríbete" severity="info" [raised]="true" size="small" />
    </div>
</div>
<div class="flex justify-center items-center p-4"> 
    <p class="font-light text-xs">© 2025 Event Booking. Todos los derechos reservados.</p>
</div>